@model WebBooking.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Dobrodošli!</h1>

<h4>Tu lahko ustvarite rezervacijo sobe.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ArrivalDate" class="control-label"></label>
                <input asp-for="@Model.ArrivalDate" class="form-control" />
                <span asp-validation-for="@Model.ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DepartureDate" class="control-label"></label>
                <input asp-for="@Model.DepartureDate" class="form-control" />
                <span asp-validation-for="@Model.DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RoomId" class="control-label"></label>
                <select asp-for="@Model.RoomId"
                    class="form-control"
                    asp-items="@ViewBag.lstRooms">
                </select>
                <span asp-validation-for="@Model.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NameAndSurname" class="control-label"></label>
                <input asp-for="@Model.NameAndSurname" class="form-control" />
                <span asp-validation-for="@Model.NameAndSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EmailAddress" class="control-label"></label>
                <input asp-for="@Model.EmailAddress" class="form-control" />
                <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Footnote" class="control-label"></label>
                <textarea asp-for="@Model.Footnote" class="form-control"></textarea>
                <span asp-validation-for="@Model.Footnote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
